.footer {
  background-color: #7bd0f5;
}

p {
  text-align: left;
  color: white;
}

b {
  color: white;
  text-align: center;
}

a {
  color: white;
  text-align: center;
}

h5 {
  color: white;
}

ul {
  list-style: disc;
  text-align: left;
  color: white;
  font-size: 18px;
}

ul > li:hover {
  color: darkblue;
  cursor: pointer;
}
